* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #0f172a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar img {
    width: 55px;
}


.nav-links {
    display: none;
    list-style: none;
}


.nav-links ul {
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px 20px;
    gap: 20px;
    font-family: Roboto, sans-serif;
    width: 100%;

}

.nav-links li a:hover {
    color: #3b82f6;
    transition: color 0.3s ease;
}


.user-icon {
    font-size: 32px;
    color: white;
}

.hamburgerBtn {
    color: white;
    background: none;
    font-size: 34px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: #0f172a;
    top: 150px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.3s ease;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
}

.dropdown li {
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.2s ease;
    color: white;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.dropdown li a:hover {
    color: #3b82f6;
    transition: color 0.3s ease;
}



@media (min-width: 768px) {
    header {
        height: 12vh;
    }

    .nav-links {
        display: flex;
        gap: 50px;
    }

    .nav-links li a {
        font-size: 21px;
    }

    .navbar img {
        width: 80px;
    }

    .user-icon {
        font-size: 40px;
        color: white;
    }

    .hamburgerBtn {
        display: none;
    }


}